{% extends 'layout.html' %}
{% block content %}
Welcome to the {% include 'ave.html' %}: Adventure! Villainy! Excitement! website. {% include 'ave.html' %} is a text-based game engine written by
<a href='http://mscroggs.co.uk'>Matthew Scroggs</a> and <a href='https://github.com/giannie'>Gin Grasso</a>.

<h2>Play AVE</h2>
Before reading any more, you should have a go at playing {% include 'ave.html' %}.
<br /><br />
{% include 'select_box.html' %}
<h2>About AVE</h2>
{% include 'ave.html' %} is a text-based adventure game engine. It is written using Python.
<br /><br />
You can make your own games for {% include 'ave.html' %} using the <a href='/docs/guide.md'>{% include 'ave.html' %} language.</a>
Once you have written a game, you can <a href='/add'>upload</a> it to the <a href='/library'>game library</a> for anyone to play.
<br /><br />
You can play {% include 'ave.html' %} games on this website, or <a href='/docs/versions.md'>download {% include 'ave.html' %}</a> to play in terminal on Linux or MacOS, or in commmand prompt on Windows.
<div class='imgr'>
<img src={{ url_for('static', filename='/img/badge.jpg') }}><br />
{% include 'ave.html' %} running on the EMF <a href='https://badge.emfcamp.org/wiki/TiLDA_MK3' target='new'>TiLDA Mk&pi;</a> badge.
</div>
At <a href='https://emfcamp.org' target='new'>Electromagnetic Field 2016 (EMF)</a>
we made a version of {% include 'ave.html' %} that runs on the <a href='/docs/badge.md'>TiLDA Mk&pi; badge</a>
that was given to every attendee.
<br /><br />
<h2>Contributing to AVE</h2>
If you want to edit the source code of AVE, it is available on <a href='/git'>GitHub</a>.
{% endblock %}
