{% extends 'layout.html' %}
{% block content %}
As well as a game engine, {% include 'ave.html' %} is also a simple language that allows
you to write your own games.
<br /><br />
Before making your own games, you should download the latest version of {% include 'ave.html' %}.
This will allow you to run your game to test it.
The easiest way to do this is to:
<ul>
<li><a href='https://github.com/AVEgame/AVE'>download the latest version of {% include 'ave.html' %} from GitHub</a>.</li>
</ul>
Once you have downloaded a version of {% include 'ave.html' %}, you are ready to write your own game.
To help you with this, you can use the following documentation:
<ul>
<li><a href='/docs/guide.md'>How to make your own game</a></li>
</ul>

Once you have made a game, you can submit it to the game library <a href='/add'>here</a>. You game will need to be manually approved before
it is added. Please be patient.
{% endblock %}