{% extends 'layout.html' %}
{% block content %}
<table class='invisible'>
    <tr>
        <td>
            <img src={{ url_for('static', filename='/img/team/scroggs.png') }} class='team'>
        </td>
        <td>
            Matthew ("Scroggs") Scroggs
            <br/>
            Lead programmer; story writer
            <br/>
            <img src={{ url_for('static', filename='/img/icons/website.png') }} class='icon'>
            <a href='http://mscroggs.co.uk' target='new'>mscroggs.co.uk</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/twitter.png') }} class='icon'>
            <a href='https://twitter.com/mscroggs' target='new'>@mscroggs</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/github.png') }} class='icon'>
            <a href='http://github.com/mscroggs' target='new'>mscroggs</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/scorpion.png') }} class='icon'>
            <a href='http://scorpi.online/user/mscroggs'>mscroggs</a>
            <br/>
        </td>
    </tr>
    <tr>
        <td>
            <img src={{ url_for('static', filename='/img/team/gin.png') }} class='team'>
        </td>
        <td>
            Gin ("Spinny Ginny") Grasso
            <br/>
            Programmer; story writer
            <br/>
            <img src={{ url_for('static', filename='/img/icons/github.png') }} class='icon'>
            <a href='http://github.com/Giannie' target='new'>Giannie</a>
            <br/>
        </td>
    </tr>
    <tr>
        <td>
            <img src={{ url_for('static', filename='/img/team/bolt.png') }} class='team'>
        </td>
        <td>
            Alex ("Bolt") Bolton
            <br/>
            Came up with the name 
            <span style='color:#CC0000'>A</span>
            <span style='color:#4d9906'>V</span>
            <span style='color:#32619e'>E</span>
            ; story writer
            <br/>
            <img src={{ url_for('static', filename='/img/icons/twitter.png') }} class='icon'>
            <a href='https://twitter.com/AlexDBolton' target='new'>@AlexDBolton</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/github.png') }} class='icon'>
            <a href='http://github.com/boltiboi' target='new'>boltiboi</a>
            <br/>
        </td>
    </tr>
    <tr>
        <td>
            <img src={{ url_for('static', filename='/img/team/alan.png') }} class='team'>
        </td>
        <td>
            Alison ("Alan") Clarke
            <br/>
            Story writer
            <br/>
            <img src={{ url_for('static', filename='/img/icons/twitter.png') }} class='icon'>
            <a href='https://twitter.com/aaclarke4' target='new'>@aaclarke4</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/github.png') }} class='icon'>
            <a href='http://github.com/aaclarke4' target='new'>aaclarke4</a>
            <br/>
        </td>
    </tr>
    <tr>
        <td>
            <img src={{ url_for('static', filename='/img/team/adam.png') }} class='team'>
        </td>
        <td>
            Adam ("Jigsaw") Townsend
            <br/>
            Story writer
            <br/>
            <img src={{ url_for('static', filename='/img/icons/website.png') }} class='icon'>
            <a href='http://adamtownsend.com' target='new'>adamtownsend.com</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/twitter.png') }} class='icon'>
            <a href='https://twitter.com/pecnut' target='new'>@pecnut</a>
            <br/>
            <img src={{ url_for('static', filename='/img/icons/github.png') }} class='icon'>
            <a href='http://github.com/pecnut' target='new'>pecnut</a>
            <br/>
        </td>
    </tr>
</table>
{% endblock %}